doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(href="/bootstrap/css/bootstrap.min.css" rel="stylesheet")
        link(rel="stylesheet" href="/stylesheets/font-awesome.css")
        link(rel="stylesheet" href="/stylesheets/custom.css")
        script(src="/bootstrap/js/bootstrap.bundle.min.js")
        link(rel="stylesheet" href="/stylesheets/admin-layout.css")
        block scripts
#parent
    nav#sidebarMenu.collapse.d-lg-block.sidebar.collapse.bg-white
        .position-sticky
            .list-group.list-group-flush.mx-3.mt-4
                a.list-group-item.list-group-item-action.py-2.ripple.active(href='/upload')
                    i.fa.fa-home.fa-fw.me-3
                    span Upload
                a.list-group-item.list-group-item-action.py-2.ripple(href='/admin/messages')
                    i.fa.fa-envelope.fa-fw.me-3
                    span Message
                a.list-group-item.list-group-item-action.py-2.ripple(href='/profile')
                    i.fa.fa-user.fa-fw.me-3
                    span Profile
    block content