extends admin-layout.pug
block scripts
    link(rel="stylesheet" href="/stylesheets/admin-messages.css")
block content
    .message-parent
        .inbox
            .inbox-user-parent
                img.inbox-user-image(src="/images/default.jpg")
                .inbox-user-details
                    span.inbox-user-name Jordan Wright
                    span.inbox-user-message Hello i can write speak.
                .inbox-user-date 10:34 PM
            .inbox-user-parent
                img.inbox-user-image(src="/images/default.jpg")
                .inbox-user-details
                    span.inbox-user-name Jordan Wright
                    span.inbox-user-message Hello i can write speak.
                .inbox-user-date 10:34 PM
            .inbox-user-parent
                img.inbox-user-image(src="/images/default.jpg")
                .inbox-user-details
                    span.inbox-user-name Jordan Wright
                    span.inbox-user-message Hello i can write speak.
                .inbox-user-date 10:34 PM
            .inbox-user-parent
                img.inbox-user-image(src="/images/default.jpg")
                .inbox-user-details
                    span.inbox-user-name Jordan Wright
                    span.inbox-user-message Hello i can write speak.
                .inbox-user-date 10:34 PM
            .inbox-user-parent
                img.inbox-user-image(src="/images/default.jpg")
                .inbox-user-details
                    span.inbox-user-name Jordan Wright
                    span.inbox-user-message Hello i can write speak.
                .inbox-user-date 10:34 PM
            .inbox-user-parent
                img.inbox-user-image(src="/images/default.jpg")
                .inbox-user-details
                    span.inbox-user-name Jordan Wright
                    span.inbox-user-message Hello i can write speak.
                .inbox-user-date 10:34 PM
            .inbox-user-parent
                img.inbox-user-image(src="/images/default.jpg")
                .inbox-user-details
                    span.inbox-user-name Jordan Wright
                    span.inbox-user-message Hello i can write speak.
                .inbox-user-date 10:34 PM
            .inbox-user-parent
                img.inbox-user-image(src="/images/default.jpg")
                .inbox-user-details
                    span.inbox-user-name Jordan Wright
                    span.inbox-user-message Hello i can write speak.
                .inbox-user-date 10:34 PM
            .inbox-user-parent
                img.inbox-user-image(src="/images/default.jpg")
                .inbox-user-details
                    span.inbox-user-name Jordan Wright
                    span.inbox-user-message Hello i can write speak.
                .inbox-user-date 10:34 PM
            .inbox-user-parent
                img.inbox-user-image(src="/images/default.jpg")
                .inbox-user-details
                    span.inbox-user-name Jordan Wright
                    span.inbox-user-message Hello i can write speak.
                .inbox-user-date 10:34 PM
            .inbox-user-parent
                img.inbox-user-image(src="/images/default.jpg")
                .inbox-user-details
                    span.inbox-user-name Jordan Wright
                    span.inbox-user-message Hello i can write speak.
                .inbox-user-date 10:34 PM
        .messaging
            .message-box
                .outgoing-message
                    span.outgoing-user Test User
                    .outgoing-message-content
                        img.outgoing-user-img(src="/images/default.jpg")
                        span.outgoing-text-box Hello 
                        .outgoing-info
                            span 10:30 PM
            .send-message
                form#formMessage
                    .input-group
                        span.input-group-text
                            i.fa.fa-paperclip
                        input.form-control#message(type="text" placeholder="Send message..." aria-label="Message box" aria-describedby="sendMessage" name="message")
                        button.btn.btn-primary#sendMessage(type="submit") Send