doctype html
html
  head
    //- title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet" href="/bootstrap/css/bootstrap.css")
    link(rel="stylesheet" href="/stylesheets/font-awesome.css")
    link(rel="stylesheet" href="/stylesheets/custom.css")
    script(src="/bootstrap/js/bootstrap.bundle.js")
    block content