include layout.pug
    link(rel="stylesheet" href="/stylesheets/login.css")
body
    div.parent
        img.display-image(src="/images/jossie_1.jpg")
        div.center-box
            div.mb-5
                span.text-black.fs-1.fw-lighter Jossie
                span.fs-1.fw-light  . 
                span.text-primary.fs-1 JPEG
            .mb-4
                legend.mb-3 Sign In
                form(action="/login" method="post")
                    input.form-control(name='email' type='email' placeholder='user@email.com')
                    input.form-control.mb-3(name='password' type='password' placeholder='password')
                    input.btn.btn-primary.mb-2.w-100(type='submit' value='Login')
            div
                span.text-muted Don't have an account?
                br
                a.mt-2.fw-bold.text-primary#createAccount(href="/create-account") Create an account 
            //- .alert.alert-danger
            //- span.fw-light ---- OR ----
            //- br
            //- button() Login with Google
            //-     div
            //-         hr
        img.display-image(src="/images/jossie_2.jpg")