include layout 
form(action="upload" method="post" enctype="multipart/form-data")
    .input-group.mb-3
        input.form-control(type="text" name="title" placeholder="Title" aria-label="title")
    .input-group-mb-3 
        textarea.form-control(placeholder="description..." name="description")
    .mb-3 
        label.form-label(for="content") Content 
        input.form-control(type="file" id="content" name="content" multiple)
    button.btn.btn-primary(type="submit") Post