#parent{
    display: grid;
    grid-auto-flow: column;
    min-height: 100vh;
}
.post-parent{
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-areas:". main";
    width: 100vw;
}
.posts{
    grid-area: main;
    padding: 1rem 8rem 1rem 8rem;
    display: grid;
}
.post{
    width: 60%;
    display: grid;
    grid-auto-flow: row;
    background-color: rgb(240, 196, 234);
    margin-bottom: 1rem;
    justify-self: center;
}
.post-image{
    width: 100%;
    justify-self: center;
}
.post-header{
    display: grid;
    grid-auto-flow: column;
    padding: 5px;
}
.post-date{
    align-self: center;
    justify-self: end;
    padding-right: 1rem;
}
.post-footer{
    padding: .5rem;
}
.post-description{
    padding: 0 0.5rem 1rem 0.5rem;
}
.post-user{
    justify-self: start;
    align-self: center;
    margin: 0.4rem 0 0.4rem .5rem;
    display: grid;
    grid-auto-flow: column;
    column-gap: 0.5rem;
}
.post-user-username{ font-size: 0.8rem; }
.post-user-details{
    display: inline-flex;
    flex-direction: column;
}
.post-user-image{
    align-self: center;
    border-radius: 50%;
    height: 5vh;
}
.tip-button{
    cursor: pointer;
    font-family: "Helvetica";
    font-size: .9rem;
    padding-left: .25rem;
}
.likes{
    font-family: "Helvetica";
    margin-right: 1rem;
    padding-left: .25rem;
}
.like-button{
    cursor: pointer;
}