#parent{
    display: grid;
    grid-template-columns: 20vw 80vw;
    grid-template-areas: "nav main";
}

.message-parent{
    grid-area: main;
    width: 100%;
    display: grid;
    grid-template-columns: 25% 75%;
}
.inbox{
    height: 100vh;
    overflow-y: scroll;
    /* box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%); */
}
.inbox-user-parent.active{
    background-color: rgb(240,240,240);
}
.admin-messaging{
    grid-template-rows: 90% 10%;
    display: grid;
    width: 100%;
    max-height: 100vh;
    height: 100vh;
}
.inbox-user-parent{
    display: grid;
    height: 10%;
    grid-template-columns: 20% 60% auto;
    grid-template-areas: "image message date";
    border-bottom: 1px solid black;
    cursor: pointer;
}
.incoming-image-content{
    width: 100%;
    place-self:center;
    padding: 1rem;
}
.outgoing-image-content{
    width: 100%;
    place-self:center;
    padding: 1.5rem;
}
.inbox-user-parent:hover{
    background-color: rgb(245,245,245);
}
.inbox-user-image{
    grid-area: image;
    width: 70%;
    border-radius: 50%;
    align-self: center;
    justify-self: center;
}
.inbox-user-details{
    grid-area: message;
    align-self: center;
    display: flex;
    flex-direction: column;
    padding-left: .4rem;
}
.inbox-user-name{
    font-size: .9rem;
}
.inbox-user-message{
    font-size: .75rem;
}
.inbox-user-date-read{
    display: grid;
    grid-auto-flow: row;
    
    grid-template-areas: "messages"
        "date";
}
.inbox-user-messages-badge{
    grid-area: messages;
    align-self: end;
    justify-self: center;
}
.inbox-user-date{
    grid-area: date;
    align-self: end;
    justify-self: end;
    font-size: .65rem;
}

.messaging{
    width: 100%;
    max-height: 100vh;
    display: grid;
    grid-template-rows: 90% 10%;
}

.message-box{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    overflow-y: scroll;
}
.incoming-message{
    display: flex;
    width: 45%;
    flex-direction: column;
    border-radius: .4rem;
}
.outgoing-message{
    display: flex;
    width: 45%;
    flex-direction: column;
    border-radius: .4rem;
    align-self: flex-end;
}
.incoming-message-content{
    display: grid;
    grid-template-columns: 50px auto auto;
    grid-template-areas: "image message info";
    background-color: rgb(245,245,245);
    padding: 3px;
}
.outgoing-message-content{
    display: grid;
    grid-template-columns: 70% auto 50px;
    grid-template-areas: "message info image";
    background-color: rgb(245,245,245);
    padding: 3px;
}
.incoming-user{
    font-size: .6rem;
    margin-left: 3px;
    margin-bottom: 1px;
    font-weight: 600;
}
.outgoing-user{
    font-size: .6rem;
    margin-left: 3px;
    margin-bottom: 1px;
    font-weight: 600;
    align-self: flex-end;
}
.incoming-user-img{
    height: 30px;
    width: 30px;
    grid-area: image;
    border-radius: 50%;
    align-self: start;
    justify-self: center;
    margin: 5px;
}
.outgoing-user-img{
    height: 30px;
    width: 30px;
    grid-area: image;
    border-radius: 50%;
    align-self: start;
    justify-self: center;
    margin: 5px;
}
.incoming-text-box{
    grid-area: message;
    justify-self: start;
    align-self: center;
}
.incoming-info{
    grid-area: info;
    font-size: .6rem;
    align-self: end;
    justify-self: end;
}
.outgoing-text-box{
    grid-area: message;
    justify-self: start;
    align-self: center;
    margin-left: .5rem;
}
.outgoing-info{
    grid-area: info;
    font-size: .6rem;
    align-self: end;
    justify-self: end;
}

.send-message{
    display: grid;
    align-items: center;
    padding: 1rem;
    background-color: rgb(220,220,220);
}