#upload{
    padding: 2rem 5rem 2rem 5rem;
}

.upload-posts{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    width: 100%;
}
.upload-post{
    display: grid;
    grid-template-rows: auto 10%;
    margin: .5rem;
}
.upload-post-content{
    display: grid;
    grid-template-rows: 80% 20%;
    padding: .5rem;
    margin-bottom: .5rem;
}
.upload-post-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.upload-post-text{
    font-size: .8rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 100%;
}
#uploadHeader{
    padding: 1rem;
    margin: 1rem 0 1rem 0;
    border: 1px solid black;
    border-radius: 5px;
}
.upload-post-remove-button{
    font-size: .75rem;
}